{% extends "base.html" %}
{% load static %}

{% block title %}Информация по категориям{% endblock %}

{% block main_content %}
  <h1>Задачи</h1>
  <h2>Категории и числа</h2>
  <ul>
  {% for cat, count in counts.items %}
    <li><span class="badge badge-info">{{ cat }}: {{ count }}</span></li>
  {% empty %}
    <li>Список задач по категориям пуст. Попробуйте добавить их из админки</li>
  {% endfor %}
  </ul>
  <h2>Приоритеты и числа</h2>
  <ul>
    {% for prior in priorities %}
    {% if prior.name == 'High Priority' %}
      <li><span class="badge badge-danger">{{ prior.name }}: {{ prior.count }}</span></li>
    {% endif %}
    {% if prior.name == 'Medium Priority' %}
      <li><span class="badge badge-secondary">{{ prior.name }}: {{ prior.count }}</span></li>
    {% endif %}
    {% if prior.name == 'Low Priority' %}
      <li><span class="badge badge-success">{{ prior.name }}: {{ prior.count }}</span></li>
    {% endif %}
    {% empty %}
      <li>Список задач по приоритетам пуст. Попробуйте добавить их из админки</li>
    {% endfor %}
  </ul>
{% endblock %}
